
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
body{
  min-width: 960px;
}
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: #fff;
  background-position: center center;
}
@media only screen and (max-width: 100%) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  margin-top: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5); /* Параметры тени */

}

.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo img{
  padding-left: 150px;
  cursor: pointer;
  width: 220px;
  height: 100%;

}
.nav{
  font-size: 1rem;
  padding-left: 50px;
  margin-right: 40px;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu > li {
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #011935;
  padding: 5px 5px;
  text-decoration: none;
}
.topmenu li a:hover { color: #00F0FF; }
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 5;
  width: 80px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
  text-align: right;
  border-radius: 10px;
}
.submenu  li {
  padding-top: 10px;
  padding-right: 5px;
}
.submenu  a {
  color: white;
  font-size: 16px;
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);

}
.glav{
  width: 100%;
  height: 700px;
  background: url("/static/main/photo/hedfon3.png") no-repeat;
  background-size: 100%;
  z-index: -1;
}
.wel{
  text-align: center;
  width: 40%;
  height: 20%;
  padding-top: 20%;
  padding-left: 31%;
}
.wel p{
  margin-top: 20px;
  font-size: 1.2em;
}
.pod{
  padding-top: 50px;
}
.pod a{
  text-decoration: none;
  color: white;
  padding: 15px 30px 15px 30px ;
  border-radius: 20px;
  background-color: #1633A1;
}
.history{
  margin-top: 20px;
  text-align: center;
  color: #002958;
  font-family: 'Inter UI', sans-serif;
}
.uni img{
  width: 250px;
}
.ex{
  width: 70%;
  height: 140px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5); 
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: -70px;
  margin-bottom: 50px;
  display: flex;
}
.exblock{
  float:left;
  color: #002958;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.exblock img{
  width: 60px;
  height: 60px;
}
/* .sectmap h1 {
  color: #002958;
  font-family: Sanchez;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
} */

#bgearth {
	position: relative;
	top: 30%;
	width: 25vw;
	left: 5%;
	pointer-events: none;
  float: left;
}

@media (max-width: 999px) {
	#bgearth {
		width: 70vw;
	}	
}

@media (max-width: 719px) {
	#bgearth {
		width: 75vw;
	}	
}

@media (max-width: 511px) {
	#bgearth {
		width: 80vw;
	}	
	header {
		padding: 9em 0;
	}
}

@media (max-width: 399px) {
	#bgearth {
		width: 100vw;
	}
	header {
		padding: 8em 0;
	}
}

.earth-js {
	transition: opacity 1.5s ease;
	opacity: 0;
}
.earth-js.earth-ready {
	opacity: 2;
}

.half-earth {
	position: relative;
	overflow: hidden;
}
.half-earth::before {
	content: "";
	display: block;
	padding-top: 50%;
}
.half-earth::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 1px;
	left: 0;
	right: 0;
	z-index: 15;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(255, 255, 255, 1) 100%);
}
.half-earth > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

}

.earth-container{position:relative;z-index:1}
.earth-container::before{content:"";display:block;padding-top:100%}
.earth-container>canvas{position:absolute;top:0;left:0;z-index:1000;user-select:none}
.earth-draggable{cursor:all-scroll;cursor:-webkit-grab;cursor:grab}
.earth-dragging *{cursor:all-scroll;cursor:-webkit-grabbing!important;cursor:grabbing!important}
.earth-clickable{cursor:pointer}
.earth-overlay{position:absolute;top:0;left:0;user-select:none;pointer-events:none;transform-origin:0 0}
.earth-overlay a,.earth-overlay input,.earth-overlay button{pointer-events:all}
.earth-hittest{position:fixed;width:200vh;max-width:100%;top:0;left:0;z-index:999999}
.earth-hittest svg{max-width:100%;height:auto;display:block;margin:0;opacity:0}