body {
    background: #b7c9c9;
  }
  .glow-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #002958 inset, 0 0 0 0 #002958;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    
  }
  .glow-button:hover {
    box-shadow: 0 0 10px 0 #002958 inset, 0 0 10px 4px #002958;
    color: #002958;
  }